* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.real-calendar-wrapper{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.calendar-wrapper{
    width: 100%;
    flex-grow: 1;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
}

.calendar-header{
    width: 100%;
    flex-grow: 1;
    display:block;
}

.day-button,
.list-button,
.month-button{
    width: calc(100%/3);
    background-color: white;
    color: black;
    border: 0;
    transition-duration: 0.4s;
    border-radius: 0%;
    height: 25px;
    padding: 0;
    margin: 0;
}

.day-button:hover,
.list-button:hover,
.month-button:hover{
    background-color: gainsboro;
    color: black;
    border: 0;
}

.day-button-selected,
.list-button-selected,
.month-button-selected{
    width: calc(100%/3);
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: gray;
    color: black;
    border: 0;
    border-radius: 0%;
    height: 25px;
    padding: 0;
    margin: 0;
}

.day-button-selected:hover,
.list-button-selected:hover,
.month-button-selected:hover{
    background-color: gray;
    color: black;
    border: 0;
    cursor: default;
}

.month-wrapper {
    width: 90%;
    margin-top: 15px;
}

.month-year-header{
    width: 90%;
    margin-left: 5%;
    background-color: maroon;
    color: white;
}

.month-year-header-lol{
    width: 100%;
    background-color: maroon;
    color: white;
}

.month-header {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
  }

.month-days{
    width: calc(100% / 7);
    margin: 0;
    background-color:maroon;
    color: white;
}

.month {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

.month-body {
    width: 90%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
  }

.day-grid{
    width: calc(100% / 7);
    padding-bottom: calc(100% / 5);
    margin: 0;
    background-color: white;
    border: 2px solid lightgray;
}

.day-grid-today{
    width: calc(100% / 7);
    padding-bottom: calc(100% / 5);
    margin: 0;
    font-weight: bolder;
    background-color: white;
    border: 2px solid lightgray;
}

.day-grid-different-month{
    width: calc(100% / 7);
    padding-bottom:  calc(100% / 5);
    margin: 0;
    color: lightgray;
    background-color: white;
    border: 2px solid lightgray;
}

.day-grid-different-month:hover,
.day-grid-today:hover,
.day-grid:hover {
    background-color: gray;
}

.day-wrapper,
.list-wrapper {
    width: 95%;
    align-content: center;
    align-items: center;
    margin-top: 15px;
}

.week-header {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
  }

.week-days{
    width: calc(100%/7);
    margin: 0;
    background-color:maroon;
    color: white;
}

.week {
    width: 90%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-left: 5%;
    box-sizing: border-box;
  }

.week-body {
    width: 90%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
  }

.week-day-grid-different-month,
.week-day-grid{
    width: calc(100% / 7);
    padding-bottom: calc(100% / 12);
    margin: 0;
    background-color: white;
    border: 2px solid lightgray;
}

.week-day-grid-today,
.week-day-grid-selected{
    width: calc(100% / 7);
    padding-bottom: calc(100% / 12);
    margin: 0;
    font-weight: bolder;
    background-color:lightgrey;
    border: 2px solid darkgray;
}

.week-day-grid-different-month:hover,
.week-day-grid-today:hover,
.week-day-grid:hover {
    background-color: gray;
}

.list {
    width: 100%;
    text-align: left;
    margin-top: 15px;
    background-color:maroon;
    color: white;
}

.list-date-label{
    padding-left: 10px;
}

.event-listings {
    display: flex;
    flex-direction: column;
}

.listed-event{
    background-color: white;
    border: 2px solid lightgray;
    color:#501b1d;
    padding-top: 20px;
    padding-bottom: 20px;
}

.listed-event:hover {
    background-color: gray;
}

.no-events:hover,
.no-events {
    background-color: lightgray;
    color:white;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.event-time{
    display: inline-block;
    margin-left: 10px;
}

.event-title {
    display: inline-block;
    margin-left: 15px;
}

.hour-list {
    text-align: left;
}

.hour-row-odd,
.hour-row {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

.hour-row-odd {
    background-color: lightgray;
}

.hour-label {
    margin-left: 10px;
}

.all-day-label {
    margin-left: 10px;
}

.all-day-list{
    margin-top: 15px;
    width: 100%;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid rgb(78, 0, 0);
    background-color: maroon;
    color: white;
}